<app-app-menu></app-app-menu>


<p>
    &nbsp;
</p>

<div class="container">


    <div class="row">
        <div class="col s12 m12">
            <div class="card z-depth-3">
                <div class="card-action purple darken-4">
                    <span class="card-title">
                        <h4 class="header white-text margem"> QUEM SOMOS</h4>
                    </span>
                </div>


                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>
                                        A Sofil Web é uma Startup que foi fundada em 2011 com intuito de prover o ensino na área
                                        de programação e desenvolvimento de sistemas e aplicações web, oferecendo soluções
                                        tecnológicas às pequenas empresas e pessoas singulares. A Sofil Web tem como principal objetivo,
                                        compreender as necessidades dos clientes fornecendo-lhes serviços que vão ao encontro das suas
                                        necessidades. Para tal, dispomos de uma equipa qualificada e competente, bem como os métodos e
                                        tecnologias.
                                    </p>
                                </div>
                            </div>
                            <div class="card-image">
                                <img src="../../assets/img/sofil1.png" />
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="row ">


                    <div class="col s12 m6 l3">


                        <ul class="collection">
                            <li class="collection-item center">
                                <img src="../../assets/img/user.jpg" alt="" class="circle">
                                <p>
                                    <span class="title">.....</span>
                                </p>


                            </li>
                        </ul>
                    </div>

                    <div class="col s12 m6 l3">
                        <ul class="collection">
                            <li class="collection-item center">
                                <img src="../../assets/img/user.jpg" alt="" class="circle">
                                <p>
                                    <span class="title">....</span>
                                </p>


                            </li>
                        </ul>
                    </div>


                    <div class="col s12 m6 l3">
                        <ul class="collection">
                            <li class="collection-item center">
                                <img src="../../assets/img/user.jpg" alt="" class="circle">
                                <p>
                                    <span class="title">.....</span>
                                </p>


                            </li>
                        </ul>
                    </div>

                    <div class="col s12 m6 l3">
                        <ul class="collection">
                            <li class="collection-item center">
                                <img src="../../assets/img/user.jpg" alt="" class="circle">
                                <p>
                                    <span class="title">.....</span>
                                </p>


                            </li>
                        </ul>
                    </div>


                </div>

                &nbsp;



                <div class="card-action">
                    <a href="#" class="blue-grey-text"> </a>
                </div>
            </div>
        </div>
    </div>
</div>





<app-app-footer></app-app-footer>