<app-app-menu></app-app-menu>


<p>
    &nbsp;
</p>

<div class="container">


    <div class="row">
        <div class="col s12 m12">
            <div class="card z-depth-3">
                <div class="card-action purple darken-4">
                    <span class="card-title">
                        <h4 class="header white-text margem"> SERVIÇOS</h4>
                    </span>
                </div>
                &nbsp;


                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card horizontal hoverable">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title">
                                        <h4>Desenvolvimento Web</h4>
                                    </span>
                                    <p>
                                        <b> <i class="mdi mdi-send"></i> Criação de Sites</b> <br>
                                        <b> <i class="mdi mdi-send"></i> Desenvolvimento de Sistemas de Gestão <br></b>
                                        <b> <i class="mdi mdi-send"></i> Desenvolvimento de Aplicações web<br></b>
                                        <b> <i class="mdi mdi-send"></i> Desenvolvimento de Aplicativos Mobile<br></b>
                                        <b> <i class="mdi mdi-send"></i> Manutenção de site e Gerenciamento de Conteúdo <br> </b>
                                        </p>
                                        <p>
                                        </p>
                                </div>
                            </div>
                            <div class="card-image">
                                <img src="../../assets/img/corpo/home4.jpg" />
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <div class="col s12 m12 l12">
                        <div class="card horizontal hoverable">
                            <div class="card-image">
                                <img src="../../assets/img/corpo/g2.jpg" />
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h4>Infrastrutura</h4>
                                    <p>
                                        <b><i class="mdi mdi-asterisk"></i> Cabeamento Estruturado de Redes</b> <br>
                                        <b> <i class="mdi mdi-asterisk"></i> Instalação e Configuração de Firewall</b> <br>
                                        <b> <i class="mdi mdi-asterisk"></i> Recuperação de Arquivos Apagados</b> <br>
                                        <b><i class="mdi mdi-asterisk"></i> Manutenção e Reparação de Computadores</b> <br>
                                        <b> <i class="mdi mdi-asterisk"></i> Instalação e Configuração de Sistemas</b>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    &nbsp;
                    </div>
                    
                    <div class="row">
                        <div class="col s12 m12 l12 ">
                            <div class="card hoverable">
                            <div class="card-image">
                                <!--<img src="../../assets/img/corpo/g2.jpg" />-->
                                <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                <p>
                                    A sofil Web dipoẽ das melhores soluções e estategeia para o seu negocio.
                                    <br>
                                    Se és um jovem e desejas construir a sua ideia, ou ter novas experiências,
                                    não hesita venha construir os seus sonhos aque, temos estágio para você.
                                
                                
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-action">
                    <a href="#" class="blue-grey-text"> Partilha a sua ideia</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-app-footer></app-app-footer>