&nbsp;
<footer class="page-footer  blue-grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Contacto</h5>
                <p class="grey-text black-text"> 991-137-555 | 934-713-381 <br> 947-230-271</p>
                <p class="grey-text black-text"> sofil.web7@gmail.com <br>Avenida 21 de Janeiro, Gamek(Morro Bento)</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Links</h5>
                <ul>
                    <li><a class="grey-text black-text" href="#!">
                            <h5><i class="mdi mdi-facebook"></i></h5>
                        </a></li>
                    <li>
                        <a class="grey-text black-text" href="#!">
                            <h5><i class="mdi mdi-youtube-play"></i></h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright teal">
        <div class="container">
            © 2013 Copyright <b>SOFIL WEB</b>
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>